capitulo_3/database/Atención integral de los niños y niñas menores de 5 anos (Capítulo G).csv
capitulo_3/database/Composición del hogar y demografía (Capítulo E).csv
capitulo_3/database/Condiciones habitacionales del hogar (Capítulo C).csv
capitulo_3/database/Datos de la vivenda y su entorno (Capítulo B).csv
capitulo_3/database/Educaciвn (Capitulo H).csv
capitulo_3/database/Fuerza de trabajo (Capítulo K).csv
capitulo_3/database/Gastos en alimentos y bebidas no alcohólicas de los hogares (Capítulo M1).csv
capitulo_3/database/Gastos trimestrales y anuales del hogar (Capitulo M2).csv
capitulo_3/database/Identificación (Capítulo A).csv
capitulo_3/database/Participación en organizaciones y redes sociales (Capítulo J).csv
capitulo_3/database/Percepción sobre las condiciones de vida y el desempeño institucional (Capítulo L).csv
capitulo_3/database/Salud (Capítulo F).csv
capitulo_3/database/Servicios públicos domiciliarios y de TIC (Capítulo D).csv
capitulo_3/database/Uso de tecnologías de la información, TIC (Capítulo I).csv